@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*----------------------Colors*/

.bg-color-name-title {
	background-color : #713841;
	color: #fee9cf;

}

.bg-color-three-reasons {
	background-color: #713841;
	color:#fee9cf;
}


.ui-menu-color-home {
	background-color:#e67e22;

}

.ui-menu-color-resume {
	background-color:#9659b6;

}
.ui-menu-color-contact {
	background-color:#328bc8;
	
}

.ui-menu-color-download {
	background-color:#525252;

}





/*-------------------------Heading*/

.heading {
	margin-left:50px;
	color: #fee9cf;
}

header {
    margin: 0;
}


.logo {
    background: url("../images/agata.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}

.name  {
	font-family: "Exo"; sans-serif;
	font-weight:200;
	font-size:46px;
	margin-top: 50px;
	color: #fee9cf

}



.title  {
	font-family: "Exo"; sans-serif;
	font-weight:500;
	font-size:30px;
	margin-top: 50px;
	color: #fee9cf

}


#nav{
	margin:0;
}
#nav li {
	padding:0;
}

.menuitem {
	height: 166px;
	text-align:center;
	padding:0;
}
.menuitem a {
	width:100%
	text-decoration : none;
	color:#ffffff;
	height: 100%;
	width: 100%;
}

.menuitem a i {
	padding-top: 22px;
	display:block;
	color:#fafafa ;
	font-size:26px;

}

.menuitem span{
	display:block;
	width:100%;
	padding-top: 5px;
	text-align:center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: :300;
	letter-spacing: 2px;
}

/*----------------hover.css*/
.hvr-sweep-to-bottom : before {
	background:rgba(0, 0, 0, 0.2);
	height:100%;

}



/* section*/
.section-column{ 
	padding:0 30px 30px;
	float:none;
	display:table-cell; 
}

.row-table{
	dispay:table;
}

.section-heading {
	font-family:"exo", sans-serif;
	font-weight: :300px;
	margin-top: 25px;
	margin-bottom: 40px;
}

/*footer*/

h1, h2,h3,h4, 5=h5 {
	margin: 0;
}
.uppercase { text transform: uppercase;
  }
.general-sub {
	font-family: "exo", sans-serif;
	font-weight: :300;
	color: #fee9cf;
}

.inline-block: {
	display:inline-block;
}


footer{
	background-color: #713841;
	color:#fee9cf;
	min-height: 120px;
	margin: 0;
}

footer .cv-pdf i {
	color:#fee9cf;
	text-align: center;
	font-size: 18px;
	padding-left: 5px;

}

.social-links{
	padding-bottom: :15px;
}
.social-links li a i{
	width: :32px;
	height: :32px;
	padding: 12px 0;
	border-radius: 50%;
	font-size: normal;
	line-height: 7px;
	text-align: center;
	color:#fee9cf;
	background-color: #713841;


}
#footer-details {
	margin: 20px;
}